@import '../../../styles/settings.scss';

.form {
  //padding: ($base-size * 2) 0;
  display: inline-block;

  .input {
    border: 1px solid lighten($color-dark, 70%);
    padding: ($base-size / 2);
    width: 100%;
    border: 1px solid $color-secondary;
    outline-style: none;
  }

  .button {
    margin: ($base-size * 2);
    padding: ($base-size * 0.5) ($base-size);
    border: none;
    border-radius: ($radius * 0.7);
    background-color: $color-primary;
    color: $color-secondary;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}

.results {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .link {
    display: inline-block;
    color: $color-secondary;
    font-size: 1.1rem;
    margin: 0;

    a {
      color: inherit;
      padding: 0 ($base-size * 0.5);
    }

    a:hover {
      color: $color-secondary;
    }
  }
}

