$color-light: #fff;
$color-dark: #222f3e;
$color-bg: #c8d6e5;
$color-primary: #FFE81F;
$color-secondary: #000;
$color-success: #01916d;

$font-header: 'News Cycle', sans-serif;
$font-text: 'Montserrat', sans-serif;

$radius: 4px;
$base-size: 12px;
$transition: all 0.5s;

@mixin p-el($element) {
  &:#{$element}, &::#{$element} {
    position: absolute;
    @content;
  }
}
