@import '../../../styles/settings.scss';

.text {
  text-align: center;
  padding: ($base-size * 10) 0;
  margin: 0;
  min-height: calc(100vh - 88px); // 88px - height of header
  background-color: $color-secondary;
  color: $color-light;

  .title {
    font-size: calc(15px + ((36 * (100vw - 720px)) / 720)); // magic number
    padding: $base-size 0;
  }

  .subtitle {
    font-size: 2.25rem;
  }

  p {
    width: 55vw;
    font-size: 1.2rem;
    padding: ($base-size * 2) 0;
  }
}
